.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem;

  background-color: var(--clr-bg-tertiary);
  border-radius: var(--brd-radius);
  &__input {
    font-size: 1rem;
    width: 100%;
    background-color: transparent;
  }

  &__search-icon {
  }
}
