.user-tile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  max-width: 20rem;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 60%;
  }

  &__title,
  &__sub-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    font-size: 1.2rem;
    color: var(--clr-bg-accent-50);
  }

  &__sub-title {
    font-size: 0.95rem;
  }

  &__action-btn {
    margin-left: auto;
    background: transparent;
    transition: transform 200ms, color 200ms;

    &:hover {
      transform: scale(1.1);
      color: var(--clr-bg-accent-50);
    }
  }
}
