.signup {
  min-height: 100vh;
  background-color: var(--clr-bg-base);

  &__wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-bg-surface-2);
    padding: 1rem;
    border-radius: var(--brd-radius);
    width: 25rem;
    font-size: 1.15rem;
  }

  &__logo {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__error {
    padding: 0.5em 0.75em;
    margin-bottom: 1rem;
    color: var(--clr-white);
    background-color: var(--clr-bg-danger);
    border-radius: var(--brd-radius);
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
  }

  &__input {
    font-size: 1.075rem;
    padding: 0.5em 0.75em;
    border-radius: var(--brd-radius);
    background-color: var(--clr-bg-surface-1);
    color: inherit;
    transition: border-bottom 200ms;

    &:focus {
      border-bottom: 3px solid var(--clr-bg-primary-50);
    }
  }

  &__submit-btn {
    width: 100%;
    font-size: 1.075rem;
    padding: 0.4em 0.75em;
    background-color: var(--clr-bg-primary);
    color: var(--clr-white);
    border-radius: var(--brd-radius);
    margin-bottom: 1.5rem;
  }

  &__google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0.5em 0.75em;
    margin-bottom: 1rem;
    width: 100%;
    color: inherit;
    font-size: 1.075rem;
    text-align: center;
    background-color: var(--clr-bg-base);
    transition: opacity 200ms;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &__google-img {
    width: 1.3rem;
    border-radius: var(--brd-radius);
    background-color: transparent;
  }

  &__auth-toggle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__auth-toggle-btn {
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
  }
}
