:root {
  --clr-white: #fff;

  --clr-bg-primary: #121212;
  --clr-bg-secondary: rgba(255, 255, 255, 0.14);
  --clr-bg-tertiary: rgba(255, 255, 255, 0.05);
  --clr-bg-danger: #cf6679; // b00020

  --clr-bg-accent: #007aff; // b00020

  --clr-fc-primary: #fff;

  --brd-radius: 0.25rem;
}
